table {
  width: 70%;
  margin: 1rem auto;
}

.docs-primary-header {
  padding-left: 15%;
}

.docs-primary-header h1 {
  font-weight: 300;
  margin: 0;
  padding: 1rem;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.mat-column-name {
  width: 50%;
  &:focus {
    outline: none;
  }
}

.mat-column-date {
  width: 30%;
  &:focus {
    outline: none;
  }
}

.mat-column-actions {
  width: 20%;
}

.float-add-button {
  bottom: 0;
  position: fixed;
  margin: 2rem;
  right: 0;
}
