.docs-primary-header {
  padding-left: 15%;
}

.docs-primary-header h1 {
  font-weight: 300;
  margin: 0;
  padding: 1rem;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.container {
  width: 70%;
  margin: 1rem auto;
}

mat-card {
  margin: 1rem auto;
  max-width: 60%;
}